*  @weizhouBlue @lou-lan
/.github/ @weizhoublue
/charts/ @weizhoublue
/contrib/ @weizhoublue
/images/ @weizhoublue
/smartdocter-agent-cmd/ @weizhoublue
/scripts/ @weizhoublue
/smartdocter-controller-cmd/ @weizhoublue
/test/ @weizhoublue
/tools/ @weizhoublue
/vendor/ @weizhoublue
/.gitignore @weizhoublue
/.golangci.yaml @weizhoublue
/.licenserc.yaml @weizhoublue
/CODEOWNERS @weizhoublue
/go.mod @weizhoublue
/LICENSE @weizhoublue
/Makefile* @weizhoublue
/README.md @weizhoublue
/go.sum @weizhoublue
/VERSION @weizhoublue
/AUTHORS @weizhoublue
/codecov.yml @weizhoublue
/docs/ @weizhoublue