name: Build Image Release

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'tag, sha, branch'
        required: true
        default: main

permissions: write-all

jobs:
  call-workflow:
    uses: ./.github/workflows/call-release-image.yaml
    with:
      ref: ${{ github.event.inputs.ref }}
      push: "true"
    secrets: inherit
